<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PIMS Project">

<listeners>
    <listener class-name="listener.TestsListenerAdapter" />
</listeners>
<!-- <test name="User Login Test">
    <classes>
        <class name="com.ptl.testcases.LoginTest" ></class>  
    </classes>
</test> -->

<test name="Login Test">
    <classes>
        <class name="com.ptl.pims.testcases.LoginTest" ></class>  
    </classes>
</test>
<test name="Admission Test">
    <classes>
        <class name="com.ptl.pims.testcases.NewAdmissionTest" ></class>  
    </classes>
</test>
<test name="Authorize Admission Test">
    <classes>
        <class name="com.ptl.pims.testcases.AuthorizeAdmissionTest" ></class>  
    </classes>
</test>
<test name="Registeration Test">
    <classes>
        <class name="com.ptl.pims.testcases.InmateRegistrationTest" ></class>  
    </classes>
</test>
<test name="Authorize Registration Test">
    <classes>
        <class name="com.ptl.pims.testcases.AuthorizeRegistrationTest" ></class>  
    </classes>
</test>
<test name="Post-Registeration Test">
    <classes>
        <class name="com.ptl.pims.testcases.InmateRegistrationTest" ></class>  
    </classes>
</test>
<test name="Authorize Post-Registeration Test">
    <classes>
        <class name="com.ptl.pims.testcases.InmateRegistrationTest" ></class>  
    </classes>
</test>
</suite>


















